{% extends "base.html" %}
{% load static %}
{% load product %}
{% load thumbnail %}

{% block title %}
{{ product.name|capfirst }}
{% endblock %}

{% block content %}
<br>

<!-- ROW WITH PRODUCT NAME AND BUTTON TO ADD/DELETE FROM SELECTION -->
<div class="row justify-content-between">

  <!-- LEFT COL: Product Name, Company, Category -->
  <div class="col">
    <h1>{{product.name}}</h1>
    <h6>Company: <a href="{{ product.company.get_absolute_url }}">
        {{ product.company }}
      </a>
    </h6>
    <h6>Category: <a href="{{ product.category.get_absolute_url }}">
        {{ product.category|capfirst }}
      </a>
    </h6>
  </div>
  <!-- RIGHT COL: Button Add/Delete from selection -->
  <div class="col text-end">
    <!-- BUTTON ADD TO SELECTION -->
    {% if product.slug in selection_list %}
      <form action="{% url 'selection:selection_remove' product.id %}"
        method="post">
        <input type="submit" value="Remove from selected products" class="btn btn-secondary">
        {% csrf_token %}
      </form>
      {% else %}
      <form action="{% url 'selection:selection_add' product.id %}" method="post">
        {{ selection_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to selection" class="btn btn-primary">
      </form>
    {% endif %}
    <!-- END BUTTON ADD TO SELECTION -->
  </div>
</div>

<br>
<!-- ROW WITH PRODUCT INFO COLUMNS -->
<div class="row row-cols-1 row-cols-md-3 g-4">

  <!-- LEFT COL: Product General info -->
  <div class="col">
    <div class="card">

      {% if product.image %}
      <a href="{{ product.image.url }}" target=”_blank”>
        <img src="{% thumbnail product.image 300x0 %}" class="card-img-top" style="height: 200px; object-fit: cover;">
      </a>
      {% else %}
      <img src="{% static 'images/no_image.png' %}" class="card-img-top" style="height: 200px; object-fit: cover;">
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        {% if product.description %}
        <p class="card-text">{{product.description|linebreaks}}</p>
        {% endif %}
      </div>

    </div>
  </div>

  <div class="col">
    {% if product.contents.all %}
    <div class="card">
      <div class="card-body">
        {% for content in product.contents.all %}
          {% with item=content.item %}
          <!-- <div class="row justify-content-between">
            <div class="col"> -->
              <h4 class="card-title">{{ item.title|capfirst }}</h4>
            <!-- </div>
            <div class="col text-end">
              <h6 class="card-subtitle text-muted">{{ item|model_name|capfirst }}</h6>
            </div>
          </div> -->
          <!-- Item rendered -->
          {{item.render}}
          <!-- End item rendered -->
          <br>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>

  <div class="col">
    {% if product.productdetail %}
    <div class="card">
      <div class="card-body">
        {% with details=product.productdetail %}
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Details for product:</th>
              <th scope="col">{{details.product|upper}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Declared unit</th>
              <td>by {{details.declared_unit|default_if_none:"-"}} of product</td>
            </tr>
            <tr>
              <th scope="row">Total CO2e</th>
              {% if details.total_co2e_kg_mf %}
              <td>{{details.total_co2e_kg_mf|floatformat:"2g"}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Total Biogenic CO2e</th>
              {% if details.total_biogenic_co2e %}
              <td>{{details.total_biogenic_co2e|floatformat:"2g"}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Water Use</th>
              {% if details.water_use_kg %}
              <td>{{details.water_use_kg|floatformat:"2g"}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Use & Maintenance (B1-B5)</th>
              {% if details.use_and_maintenance %}
              <td>{{details.use_and_maintenance|floatformat:"2g"}} by {{details.declared_unit}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Recycled Content</th>
              {% if details.recycled_content %}
              <td>{{details.recycled_content|floatformat:"2g"}}%</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Recyclable Content</th>
              {% if details.recyclable_content %}
              <td>{{details.recyclable_content|floatformat:"2g"}}%</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Re-use Potential</th>
              {% if details.reuse_potential %}
              <td>{{details.reuse_potential|floatformat:"2g"}}%</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Ozone Depletion Potential</th>
              {% if details.odp %}
              <td>{{details.odp|floatformat:"2g"}} mg CFC-11eq</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Manufacturing (A1-A3)</th>
              {% if details.manufacturing %}
              <td>{{details.manufacturing|floatformat:"2g"}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">On-site Installation (A5)</th>
              {% if details.on_site_installation %}
              <td>{{details.on_site_installation|floatformat:"2g"}} kg</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
            <tr>
              <th scope="row">Energy Recovery Possibility</th>
              {% if details.energy_recovery_possibility %}
              <td>{{details.energy_recovery_possibility|floatformat:"2g"}}%</td>
              {% else %}
              <td>-</td>
              {% endif %}
            </tr>
          </tbody>
        </table>

        {% endwith %}
      </div>
    </div>
    {% endif %}
  </div>

</div>

{% endblock content %}
