{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{% if category %}
{{ category.name }}
{% elif company %}
{{ company.name }}
{% else %}
Products
{% endif %}
{% endblock title %}

{% block content %}
<div class="row">
  {% include 'catalog/product/header_search.html' %}
</div>
<br>

  <!-- SIDEBAR -->
  {% comment %}
  {% include 'catalog/product/sidebar.html' %}
  {% endcomment %}
  <!-- End Sidebar -->

  <!-- Main Content -->
    <h2>
      {% if category %}
      Results for category: "{{ category.name|capfirst }}"
      {% elif company %}
      Results for company: "{{ company.name|capfirst }}"
      {% elif search_query %}
      Results for search term: "{{ search_query }}"
      {% else %}
      Showing all products
      {% endif %}
    </h2>
    <br>
    <div id="selection-counter"></div>
    <!-- PRODUCT CARDS SECTION -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for product in products %}
      <div class="col">
        {% include 'catalog/product/list_product_card.html' %}
      </div>
      {% endfor %}
    </div>

<br>
{% include 'pagination.html' with queryset=products custom_range=custom_range %}
{% endblock %}
