{% extends "base.html" %}
{% load static %}
{% block title %}

  {% if category %}
  {{ category.name }}
  {% elif company %}
  {{ company.name }}
  {% else %}
  Products
  {% endif %}

{% endblock title %}

{% block content %}
<div class="row gx-5">
  <!-- SIDEBAR -->
  <div class="col-3 p-3 text-white bg-dark">
    <!-- ACCORDION -->
    <div class="accordion" id="accordionSidebar">
      <!-- Categories Section -->
      <div class="accordion-item bg-dark">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne">
            CATEGORIES
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionSidebar">
          <div class="accordion-body">
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                {% if not category %}
                <a href="{% url 'catalog:product_list' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'catalog:product_list' %}" class="nav-link text-white">
                {% endif %}
                <div class="row justify-content-between">
                  <div class="col"><p>All</p></div>
                  <div class="col text-end"><p>{{total_products|length}} product{{total_products|length|pluralize}}</p></div>
                </div>
                </a>
              </li>
              {% for c in categories %}
              <li class="nav-item">
                {% if category.slug == c.slug %}
                <a href="{{ c.get_absolute_url }}" class="nav-link active">
                {% else %}
                <a href="{{ c.get_absolute_url }}" class="nav-link text-white">
                {% endif %}
                <div class="row justify-content-between">
                  <div class="col"><p>{{ c.name|capfirst }}</p></div>
                  <div class="col text-end"><p>{{c.total_products}} product{{c.total_products|pluralize}}</p></div>
                </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- Companies Section -->
      <div class="accordion-item bg-dark">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo">
            COMPANIES
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
          <div class="accordion-body">
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                {% if not company %}
                <a href="{% url 'catalog:product_list' %}" class="nav-link active">
                {% else %}
                <a href="{% url 'catalog:product_list' %}" class="nav-link text-white">
                {% endif %}
                <div class="row justify-content-between">
                  <div class="col"><p>All</p></div>
                  <div class="col text-end"><p>{{total_products|length}} product{{total_products|length|pluralize}}</p></div>
                </div>
                </a>
              </li>
              {% for c in companies %}
              <li class="nav-item">
                {% if company.slug == c.slug %}
                <a href="{{ c.get_absolute_url }}" class="nav-link active">
                {% else %}
                <a href="{{ c.get_absolute_url }}" class="nav-link text-white">
                {% endif %}
                  <div class="row justify-content-between">
                    <div class="col"><p>{{ c.name|capfirst }}</p></div>
                    <div class="col text-end"><p>{{c.total_products}} product{{c.total_products|pluralize}}</p></div>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
    </div>
    <!-- END ACCORDION -->
  </div>
  <!-- End Sidebar -->

  <!-- Main Content -->
  <div class="col-9">

    <!-- ROW FOR SEARCHBAR -->
    <div class="row">
      <div class="col">
        <!-- SEARCHBAR -->
        <form action="{% url 'catalog:product_list' %}" method="get" role="search">
          <div class="input-group mb-3">
              <!-- <label class="form-label" for="formInput#search">Search by ... </label> -->
              <input class="form-control" id="formInput#search" type="text" name="search_query"
                placeholder="Search by product, company, categories..." value="{{search_query}}" />
              <button class="btn btn-outline-secondary" type="button" id="formInput#search">Search</button>
          </div>
        </form>
        <!-- END Searchbar -->
      </div>
      <div class="col">
        <!-- Empty col to the right of the searchbar -->
      </div>
    </div>

    <h1>
      {% if category %}
      {{ category.name|capfirst }}
      {% elif company %}
      {{ company.name|capfirst }}
      {% else %}
      Products
      {% endif %}
    </h1>
    <br>

    <!-- PRODUCT CARDS SECTION -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
      <div class="col">
        <div class="card h-100">

          <!-- ADD TO SELECTION BUTTON SECTION -->
          <div class="card-header">
            {% if product.slug in selection_list %}
            <form action="{% url 'selection:selection_remove' product.id %}"
              method="post">
              <input type="submit" value="Remove" class="btn btn-secondary">
              {% csrf_token %}
            </form>
            {% else %}
            <form action="{% url 'selection:selection_add' product.id %}" method="post">
              {{ selection_product_form }}
              {% csrf_token %}
              <input type="submit" value="Add to selection" class="btn btn-primary">
            </form>
            {% endif %}
          </div>
          <!-- END add to selection buttons -->

          <a href="{{ product.get_absolute_url }}">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" style="height: 170px; object-fit: cover;">
            {% else %}
            <img src="{% static 'images/no_image.png' %}" class="card-img-top" style="height: 170px; object-fit: cover;">
            {% endif %}
          </a>

            <div class="card-body">

              <h3 class="card-title">
                <a href="{{ product.get_absolute_url }}">{{ product.name|capfirst }}</a>
              </h3>

              <p class="card-text">
                Category: <a href="{{ product.category.get_absolute_url }}">{{product.category|capfirst}}</a> <br>
                Company: <a href="{{ product.company.get_absolute_url }}">{{product.company|capfirst}}</a>
              </p>
              {% if product.description %}
              <p class="card-text">
                <a href="{{ product.get_absolute_url }}">{{product.description|truncatechars:60}}</a>
              </p>
              {% endif %}
            </div>


        </div>
      </div>
      {% endfor %}
    </div>
    <br>
    {% include 'pagination.html' with queryset=products custom_range=custom_range %}
  </div>
</div>
{% endblock %}
