{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Products Platform{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A platform to compare products">
    <meta name="author" content="Antonio V Monge">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!-- ORIGINAL BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
      integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- NEW BOOTSTRAP THEME -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
      integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->
    <script defer src="{% static 'js/project.js' %}"></script>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    {% endblock javascript %}

  </head>

  <body>

    <div class="mb-1">
      {% include 'navbar.html' %}

    </div>
    <br><br>
    <div class="container">

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}
      <p>This Platform allow you to compare Products with all the details and technical aspects.</p>
      {% endblock content %}

      <br><br><br>

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */ });
    </script>
    {% endcomment %}

    <script>
      document.body.addEventListener('htmx:configRequest', function (evt) {
        evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
    </script>

    <script>
      htmx.defineExtension('bs-validation', {
        onEvent: function (name, evt, data) {

          if (name !== "htmx:afterProcessNode") {
            return;
          }

          let form = evt.detail.elt;
          // check if trigger attribute and submit event exists
          // for the form
          if (!form.hasAttribute('hx-trigger')) {
            // set trigger for custom event bs-send
            form.setAttribute('hx-trigger', 'bs-send');
            // and attach the event only once
            form.addEventListener('submit', function (event) {
              if (form.checkValidity()) {
                // trigger custom event hx-trigger="bs-send"
                htmx.trigger(form, "bsSend");
              }

              // focus the first invalide field
              let invalidField = form.querySelector(':invalid');
              if (invalidField) {
                invalidField.focus();
              }

              event.preventDefault()
              event.stopPropagation()

              form.classList.add('was-validated')
            }, false)
          }
        }
      });
    </script>

    {% endblock inline_javascript %}
  </body>

</html>
