{% load static %}
<h5>Search Products</h5>
<input
  class="form-control form-control-sm"
  type="search"
  name="search"
  placeholder="Search products by name..."
  hx-post="{% url 'catalog:catalog-search-htmx' %}"
  hx-trigger="keyup changed delay:500ms, search"
  hx-target="#catalog-results"
  hx-indicator=".htmx-indicator">
<span class="htmx-indicator">
  <br>
  <img src="{% static 'images/svg-loaders/tail-spin.svg' %}" /> Searching...
</span>

  <div id="catalog-results"></div>
<!-- <div id="catalog-results"></div> -->
