{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load product %}

{% block title %}
{% if object %}
Edit product "{{ object.name }}"
{% else %}
Create a new product
{% endif %}
{% endblock %}

{% block content %}
<h1>
  {% if object %}
  Edit product "{{ object.name }}"
  {% else %}
  Create a new product
  {% endif %}
</h1>
<br>


<div class="row justify-content-between">

  <div class="col-md-6">
    <h4>Product info</h4>
    <br>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" value="Save product" class="btn btn-primary">
    </form>
  </div>

  <!--
    The if statement prevents the error when creating the product (First Time)
    The url looks for the "product.id" in the url.
    Before th product is saved there is not ID. That produces the error.
  -->

  {% if product.id %}
  <div class="col-md-5">
    <div class="row justify-content-between">
      <div class="col">
        <h4>Content</h4>
      </div>
      <div class="col text-end">
        <a href="{% url 'catalog:product_content_list' product.id %}" class="btn btn-outline-secondary">
          Manage contents
        </a>
      </div>
    </div>
    <br>

    {% for content in object.contents.all %}
    {% with item=content.item %}
    <div class="card">
      <div class="card-body">

        <div class="row justify-content-between">
          <div class="col">
            <h4 class="card-title">{{ item.title }}</h4>
          </div>
          <div class="col text-end">
            <h6 class="card-subtitle text-muted">{{ item|model_name|capfirst }}</h6>
          </div>
        </div>
        {{item.render}}
      </div>
    </div>
    <br>
    {% endwith %}
    {% empty %}
    <p>This product has no contents yet.</p>
    {% endfor %}


  </div>
  {% endif %}
</div>

<br><br>
{% endblock %}
